*
{font-family:Verdana;}
legend,label,h3,p
{color:#fff;}
h3
{text-align:center;}
.tny
{font-size:x-small;}
.cen
{text-align:center;}
a:link,a:visited
{color:#cc0;text-decoration:none;}
a:hover,a:active
{color:#ff0;text-decoration:underline;}
a:link img,a:visited img
{border:2px solid transparent;}
a:hover img,a:active img
{border:2px solid #cc0;}
#fram_elem a:link,#fram_elem a:visited
{color:#000;text-decoration:underline;}
#fram_elem a:hover,#fram_elem a:active
{color:#aaa;text-decoration:underline;}
